---
layout: layouts/base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square">  
  </div>

<div class="hero">
  <div class="hero__background">
    <img
      class="hero__background-image"
      src="{{ home.backgroundImage }}"
      alt="{{ home.backgroundImageAlt }}"/>
  </div>  
  <div class="hero__col">
    <h1 class="hero__title gradient-text">{{ home.title }}</h1>
    <h4 class="hero__subtitle">{{ bio.subtitle }}</h4>
  </div>
  <div class="hero__col hero__feature-img-col">
    <img
      class="hero__image"
      src="{% if home.featureImage -%}{{ home.featureImage }}{%- endif %}"
      alt="{{ home.featureImageAlt }}"
      width="300px"
      height="300px"
      loading="lazy"/>
  </div>
  <div class="hero__col">
    <p class="hero__about">{{ bio.summary }} <a href='/about'>About me</a></p>
  </div>  
</div>

  <hr/>
  <div class="about-section">
  </div>

  <hr/>
  <h2>Projects</h2>
  {% set projectlist = collections.project %}
  {% include "components/projectlist.njk" %}

{# hide 'Articles' (blog) (until there is something to put there) #}

{# 
  <hr>
  <h2>Articles</h2>
  {% set postslist = collections.post %}
  {% set show_postslist_tags = false %}
  {% set limit = 3 %}
  {% include "components/postslist.njk" %}
  #}

</div>
